<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <!-- 引入配置文件 -->
    <properties resource="jdbc.properties"/>

<!--    <classPathEntry location="/Users/Aiolos/.m2/repository/mysql/mysql-connector-java/8.0.19/mysql-connection-java-8.0.19.jar"/>-->

    <!-- 自定义的MyBatis3Simple类将默认的mapper后缀改成dao -->
    <!-- MyBatis3: 默认值，生成基于MyBatis3.x版本以上的内容，包括xxxBySample，<table>中去掉enableExample=false -->
    <!-- MyBatis3Simple: 类似MyBatis3，只是不生成xxxBySample -->
    <context id="DB2Tables" targetRuntime="com.aiolos.common.utils.MyBatis3Simple" defaultModelType="flat">
        <!-- 生成的 Java 文件的编码 -->
        <property name="javaFileEncoding" value="UTF-8"/>
        <!-- 格式化 Java 代码 -->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!-- 格式化 XML 代码 -->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>

        <!-- 配置生成pojo的序列化插件 -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
        <!-- 配置生成pojo的toString()方法的插件 -->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"></plugin>
        <!-- 防止Mapper.xml重复生成BaseResultMap等数据 -->
        <plugin type="org.mybatis.generator.plugins.UnmergeableXmlMappersPlugin" />

        <!-- 通用mapper所在目录 -->
        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <!-- 这里一定要是mappers，不然会提示缺少必要的mappers属性 -->
            <property name="mappers" value="com.baomidou.mybatisplus.core.mapper.BaseMapper"/>
        </plugin>

        <!-- 自定义注释生成器 -->
        <commentGenerator type="com.aiolos.common.utils.MyCommentGenerator">
            <property name="author" value="aiolos"/>
            <property name="dateFormat" value="yyyy/MM/dd"/>
            <property name="suppressAllComments" value="false"/>
        </commentGenerator>

        <jdbcConnection driverClass="${driverClassName}"
                        connectionURL="${url}"
                        userId="${username}"
                        password="${password}">
        </jdbcConnection>

        <javaTypeResolver type="com.aiolos.common.plugins.JavaTypeResolverTinyintToIntegerImpl">
        </javaTypeResolver>

        <!-- 对应生成的pojo所在包 -->
        <javaModelGenerator targetPackage="${pojoTargetPackage}" targetProject="/Users/Aiolos/developer/gitProjects/mybatis-generator-database/src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- 对应生成的mapper所在目录 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="/Users/Aiolos/developer/gitProjects/mybatis-generator-database/src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- 配置mapper对应的java映射 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="${daoTargetPackage}" targetProject="/Users/Aiolos/developer/gitProjects/mybatis-generator-database/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- 数据库表 -->
        <table tableName="sys_config" domainObjectName="SysConfig" mapperName="{0}Dao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" />
        </table>
        <table tableName="tb_action" domainObjectName="TbAction" mapperName="{0}Dao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" />
        </table>
        <table tableName="tb_checkin" domainObjectName="TbCheckin" mapperName="{0}Dao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" />
        </table>
        <table tableName="tb_city" domainObjectName="TbCity" mapperName="{0}Dao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" />
        </table>
        <table tableName="tb_dept" domainObjectName="TbDept" mapperName="{0}Dao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" />
        </table>
        <table tableName="tb_face_model" domainObjectName="TbFaceModel" mapperName="{0}Dao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" />
        </table>
        <table tableName="tb_holidays" domainObjectName="TbHolidays" mapperName="{0}Dao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" />
        </table>
        <table tableName="tb_meeting" domainObjectName="TbMeeting" mapperName="{0}Dao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" />
        </table>
        <table tableName="tb_module" domainObjectName="TbModule" mapperName="{0}Dao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" />
        </table>
        <table tableName="tb_permission" domainObjectName="TbiPermission" mapperName="{0}Dao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" />
        </table>
        <table tableName="tb_role" domainObjectName="TbRole" mapperName="{0}Dao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" />
        </table>
        <table tableName="tb_user" domainObjectName="TbUser" mapperName="{0}Dao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" />
        </table>
        <table tableName="tb_workday" domainObjectName="TbWorkday" mapperName="{0}Dao" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql" />
        </table>

    </context>
</generatorConfiguration>