<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiolos.news.dao.CourseChapterVideoAuditMapper">
  <resultMap id="BaseResultMap" type="com.aiolos.news.pojo.CourseChapterVideoAudit">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status_id" jdbcType="TINYINT" property="statusId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="chapter_id" jdbcType="BIGINT" property="chapterId" />
    <result column="chapter_video_name" jdbcType="VARCHAR" property="chapterVideoName" />
    <result column="chapter_video_desc" jdbcType="VARCHAR" property="chapterVideoDesc" />
    <result column="is_video" jdbcType="TINYINT" property="isVideo" />
    <result column="video_id" jdbcType="BIGINT" property="videoId" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
    <result column="video_length" jdbcType="VARCHAR" property="videoLength" />
    <result column="video_vid" jdbcType="VARCHAR" property="videoVid" />
    <result column="playback" jdbcType="VARCHAR" property="playback" />
    <result column="audit_status" jdbcType="INTEGER" property="auditStatus" />
    <result column="audit_opinion" jdbcType="VARCHAR" property="auditOpinion" />
    <result column="live_vid" jdbcType="VARCHAR" property="liveVid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gmt_create, gmt_modified, status_id, sort, course_id, chapter_id, chapter_video_name, 
    chapter_video_desc, is_video, video_id, video_name, video_length, video_vid, playback, 
    audit_status, audit_opinion, live_vid
  </sql>
  <select id="selectByExample" parameterType="com.aiolos.news.pojo.CourseChapterVideoAuditExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course_chapter_video_audit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course_chapter_video_audit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from course_chapter_video_audit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.aiolos.news.pojo.CourseChapterVideoAuditExample">
    delete from course_chapter_video_audit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aiolos.news.pojo.CourseChapterVideoAudit">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into course_chapter_video_audit (id, gmt_create, gmt_modified, 
      status_id, sort, course_id, 
      chapter_id, chapter_video_name, chapter_video_desc, 
      is_video, video_id, video_name, 
      video_length, video_vid, playback, 
      audit_status, audit_opinion, live_vid
      )
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{statusId,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER}, #{courseId,jdbcType=BIGINT}, 
      #{chapterId,jdbcType=BIGINT}, #{chapterVideoName,jdbcType=VARCHAR}, #{chapterVideoDesc,jdbcType=VARCHAR}, 
      #{isVideo,jdbcType=TINYINT}, #{videoId,jdbcType=BIGINT}, #{videoName,jdbcType=VARCHAR}, 
      #{videoLength,jdbcType=VARCHAR}, #{videoVid,jdbcType=VARCHAR}, #{playback,jdbcType=VARCHAR}, 
      #{auditStatus,jdbcType=INTEGER}, #{auditOpinion,jdbcType=VARCHAR}, #{liveVid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aiolos.news.pojo.CourseChapterVideoAudit">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into course_chapter_video_audit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="statusId != null">
        status_id,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="chapterId != null">
        chapter_id,
      </if>
      <if test="chapterVideoName != null">
        chapter_video_name,
      </if>
      <if test="chapterVideoDesc != null">
        chapter_video_desc,
      </if>
      <if test="isVideo != null">
        is_video,
      </if>
      <if test="videoId != null">
        video_id,
      </if>
      <if test="videoName != null">
        video_name,
      </if>
      <if test="videoLength != null">
        video_length,
      </if>
      <if test="videoVid != null">
        video_vid,
      </if>
      <if test="playback != null">
        playback,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="auditOpinion != null">
        audit_opinion,
      </if>
      <if test="liveVid != null">
        live_vid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null">
        #{statusId,jdbcType=TINYINT},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="chapterId != null">
        #{chapterId,jdbcType=BIGINT},
      </if>
      <if test="chapterVideoName != null">
        #{chapterVideoName,jdbcType=VARCHAR},
      </if>
      <if test="chapterVideoDesc != null">
        #{chapterVideoDesc,jdbcType=VARCHAR},
      </if>
      <if test="isVideo != null">
        #{isVideo,jdbcType=TINYINT},
      </if>
      <if test="videoId != null">
        #{videoId,jdbcType=BIGINT},
      </if>
      <if test="videoName != null">
        #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoLength != null">
        #{videoLength,jdbcType=VARCHAR},
      </if>
      <if test="videoVid != null">
        #{videoVid,jdbcType=VARCHAR},
      </if>
      <if test="playback != null">
        #{playback,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditOpinion != null">
        #{auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="liveVid != null">
        #{liveVid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aiolos.news.pojo.CourseChapterVideoAuditExample" resultType="java.lang.Long">
    select count(*) from course_chapter_video_audit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update course_chapter_video_audit
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusId != null">
        status_id = #{record.statusId,jdbcType=TINYINT},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.courseId != null">
        course_id = #{record.courseId,jdbcType=BIGINT},
      </if>
      <if test="record.chapterId != null">
        chapter_id = #{record.chapterId,jdbcType=BIGINT},
      </if>
      <if test="record.chapterVideoName != null">
        chapter_video_name = #{record.chapterVideoName,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterVideoDesc != null">
        chapter_video_desc = #{record.chapterVideoDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.isVideo != null">
        is_video = #{record.isVideo,jdbcType=TINYINT},
      </if>
      <if test="record.videoId != null">
        video_id = #{record.videoId,jdbcType=BIGINT},
      </if>
      <if test="record.videoName != null">
        video_name = #{record.videoName,jdbcType=VARCHAR},
      </if>
      <if test="record.videoLength != null">
        video_length = #{record.videoLength,jdbcType=VARCHAR},
      </if>
      <if test="record.videoVid != null">
        video_vid = #{record.videoVid,jdbcType=VARCHAR},
      </if>
      <if test="record.playback != null">
        playback = #{record.playback,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatus != null">
        audit_status = #{record.auditStatus,jdbcType=INTEGER},
      </if>
      <if test="record.auditOpinion != null">
        audit_opinion = #{record.auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="record.liveVid != null">
        live_vid = #{record.liveVid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update course_chapter_video_audit
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      status_id = #{record.statusId,jdbcType=TINYINT},
      sort = #{record.sort,jdbcType=INTEGER},
      course_id = #{record.courseId,jdbcType=BIGINT},
      chapter_id = #{record.chapterId,jdbcType=BIGINT},
      chapter_video_name = #{record.chapterVideoName,jdbcType=VARCHAR},
      chapter_video_desc = #{record.chapterVideoDesc,jdbcType=VARCHAR},
      is_video = #{record.isVideo,jdbcType=TINYINT},
      video_id = #{record.videoId,jdbcType=BIGINT},
      video_name = #{record.videoName,jdbcType=VARCHAR},
      video_length = #{record.videoLength,jdbcType=VARCHAR},
      video_vid = #{record.videoVid,jdbcType=VARCHAR},
      playback = #{record.playback,jdbcType=VARCHAR},
      audit_status = #{record.auditStatus,jdbcType=INTEGER},
      audit_opinion = #{record.auditOpinion,jdbcType=VARCHAR},
      live_vid = #{record.liveVid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiolos.news.pojo.CourseChapterVideoAudit">
    update course_chapter_video_audit
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null">
        status_id = #{statusId,jdbcType=TINYINT},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="chapterId != null">
        chapter_id = #{chapterId,jdbcType=BIGINT},
      </if>
      <if test="chapterVideoName != null">
        chapter_video_name = #{chapterVideoName,jdbcType=VARCHAR},
      </if>
      <if test="chapterVideoDesc != null">
        chapter_video_desc = #{chapterVideoDesc,jdbcType=VARCHAR},
      </if>
      <if test="isVideo != null">
        is_video = #{isVideo,jdbcType=TINYINT},
      </if>
      <if test="videoId != null">
        video_id = #{videoId,jdbcType=BIGINT},
      </if>
      <if test="videoName != null">
        video_name = #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoLength != null">
        video_length = #{videoLength,jdbcType=VARCHAR},
      </if>
      <if test="videoVid != null">
        video_vid = #{videoVid,jdbcType=VARCHAR},
      </if>
      <if test="playback != null">
        playback = #{playback,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditOpinion != null">
        audit_opinion = #{auditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="liveVid != null">
        live_vid = #{liveVid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiolos.news.pojo.CourseChapterVideoAudit">
    update course_chapter_video_audit
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status_id = #{statusId,jdbcType=TINYINT},
      sort = #{sort,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=BIGINT},
      chapter_id = #{chapterId,jdbcType=BIGINT},
      chapter_video_name = #{chapterVideoName,jdbcType=VARCHAR},
      chapter_video_desc = #{chapterVideoDesc,jdbcType=VARCHAR},
      is_video = #{isVideo,jdbcType=TINYINT},
      video_id = #{videoId,jdbcType=BIGINT},
      video_name = #{videoName,jdbcType=VARCHAR},
      video_length = #{videoLength,jdbcType=VARCHAR},
      video_vid = #{videoVid,jdbcType=VARCHAR},
      playback = #{playback,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      audit_opinion = #{auditOpinion,jdbcType=VARCHAR},
      live_vid = #{liveVid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>